# Class no. 17
* Pandas:
    * Series:
        * Series is a type of Data sorting which alows us to do stuff like this:
        ```
        s = pd.Series([1, 2, 3, 4, 5])
        print(s)
        <-OUTPUT->
        0  1
        1  2
        2  3
        3  4
        4  5
        dtype: int64
        ```

In [3]:
%pip install pandera

Requirement already satisfied: pandera in c:\users\computer world\anaconda\envs\python11\lib\site-packages (0.17.2)
Requirement already satisfied: multimethod in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pandera) (1.10)
Requirement already satisfied: numpy>=1.19.0 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pandera) (1.26.1)
Requirement already satisfied: packaging>=20.0 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pandera) (23.2)
Requirement already satisfied: pandas>=1.2.0 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pandera) (2.1.1)
Requirement already satisfied: pydantic in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pandera) (2.4.2)
Requirement already satisfied: typeguard>=3.0.2 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pandera) (4.1.5)
Requirement already satisfied: typing-inspect>=0.6.0 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pandera) (0.9.0)
Requirement already satisfied: wrapt in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pandera) (1.15.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pandas>=1.2.0->pandera) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pandas>=1.2.0->pandera) (2023.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from typing-inspect>=0.6.0->pandera) (1.0.0)
Requirement already satisfied: typing-extensions>=3.7.4 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from typing-inspect>=0.6.0->pandera) (4.8.0)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pydantic->pandera) (0.6.0)
Requirement already satisfied: pydantic-core==2.10.1 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from pydantic->pandera) (2.10.1)
Requirement already satisfied: six>=1.5 in c:\users\computer world\anaconda\envs\python11\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pandera) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import pandera as pa

index: list[list[str]] = [['a1','a1','a1','b1','b1'], [1, 2, 3, 4, 5]]

s1: pd.Series = pd.Series(index)
display(s1)

0    [a1, a1, a1, b1, b1]
1         [1, 2, 3, 4, 5]
dtype: object

In [9]:
import pandas as pd

core: list[list[int]] = [[1, 2, 3],
                        [4, 5, 6],
                        [7, 8, 9]]

a = pd.DataFrame(core)
a

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
df: pd.DataFrame = pd.read_json("https://www.w3schools.com/python/pandas/data.js")
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [3]:
import os

def test_main(main):
    assert main() == 0
    assert os.path.isfile("test.py")
    os.remove("test.py")
    assert not os.path.isfile("test.py")

# Class no. 18

In [17]:
import pandas as pd
import pandera
import numpy as np
from nptyping import NDArray, Shape, Int64

total = 10000

s1: NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(80, 100, (total, 5))
ss1: pd.DataFrame = pd.DataFrame(s1, columns = ["s1","s2","s3","s4","s5"])

s2: NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(80, 100, (total, 5))
ss2: pd.DataFrame = pd.DataFrame(s2, columns = ["s1","s2","s3","s4","s5"])

s3: NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(80, 100, (total, 5))
ss3: pd.DataFrame = pd.DataFrame(s3, columns = ["s1","s2","s3","s4","s5"])

s4: NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(80, 100, (total, 5))
ss4: pd.DataFrame = pd.DataFrame(s4, columns = ["s1","s2","s3","s4","s5"])

s5: NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(80, 100, (total, 5))
ss5: pd.DataFrame = pd.DataFrame(s5, columns = ["s1","s2","s3","s4","s5"])

# print(len(ss1))
# print(len(ss2))
# print(len(ss3))
# print(len(ss4))
# print(len(ss5))

# ss1

df: pd.DataFrame = pd.concat([ss1])
print("================================================================")
display(df.info())
print("================================================================")
display(df.describe())
print("================================================================")
display(df.head())

================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s1      10000 non-null  int32
 1   s2      10000 non-null  int32
 2   s3      10000 non-null  int32
 3   s4      10000 non-null  int32
 4   s5      10000 non-null  int32
dtypes: int32(5)
memory usage: 195.4 KB

None

================================================================

                 s1            s2            s3            s4            s5
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean      89.466600     89.523500     89.563000     89.476300     89.530900
std        5.813387      5.742016      5.787174      5.768168      5.761334
min       80.000000     80.000000     80.000000     80.000000     80.000000
25%       84.000000     85.000000     85.000000     84.000000     84.000000
50%       89.000000     89.000000     90.000000     89.000000     89.000000
75%       95.000000     94.000000     95.000000     95.000000     95.000000
max       99.000000     99.000000     99.000000     99.000000     99.000000

================================================================

   s1  s2  s3  s4  s5
0  94  89  85  97  89
1  86  88  98  84  98
2  82  86  86  93  82
3  93  88  96  97  98
4  91  94  83  89  82

In [20]:
import numpy as np

var1: np.ndarray = np.array([ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ])

print(f"Object values: {var1}")
print(f"Object Type: {var1.dtype}")

Object values: [ 1  2  3  4  5  6  7  8  9 10]
Object Type: int32